<!-- <button nz-button nz-popover nzTitle="Title" [nzContent]="contentTemplate" nzPlacement="bottom">Bottom</button> -->
<ng-template #contentTemplate>
    <div>
        <p>Content</p>
        <p>Content</p>
    </div>
</ng-template>