<nz-layout style="min-height: 100%;">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" [nzBreakpoint]="'lg'" [nzCollapsedWidth]="0" [nzZeroTrigger]="zeroTrigger">
        <div class="logo"></div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
            <app-sidebar></app-sidebar>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header style="background: #fff; padding:0;">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
            <app-header></app-header>
        </nz-header>
        <nz-content style="margin:0 16px;">
            <app-breadcrumbs></app-breadcrumbs>
            <div style="padding:24px; background: #fff;">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>
<ng-template #trigger>
    <i nz-icon nzType="up"></i>
</ng-template>
<ng-template #zeroTrigger>
    <i nz-icon nzType="menu-fold" theme="outline"></i>
</ng-template>